@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --first-color: 215deg 69% 61%;
    --first-color-alt: 215deg 57% 53%;
    --first-color-lighter: 215deg, 92%, 85%;
    --title-color: 215deg, 8%, 15%;
    --text-color: 215deg, 8%, 45%;
    --text-color-light: 215deg, 8%, 65%;
    --input-color: 215deg, 70%, 96%;
    --body-color: 215deg, 60%, 50%;
    --scroll-bar-color: 215deg, 12%, 90%;
    --scroll-thumb-color: 215deg, 12%, 80%;
    /* ... */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
}